// Foundation
@use "foundation/reset";
@use "foundation/fluid-size";
@use "foundation/base";
@use "foundation/variables";
@use "foundation/fade-animation";

// Layout
@use "layout/header";
@use "layout/footer";
@use "layout/container";

// Module
@use "module/articlelist";
@use "module/button";
@use "module/notice";
@use "module/ticketbutton";
@use "module/section";
@use "module/scrolltop";
@use "module/gallery";
// 下層ページ専用のCSS
@use "module/pagehero";
@use "module/item-content";
@use "module/notes";
@use "module/table";
@use "module/simplehero";
@use "module/page-section-header";
@use "module/page-related";
@use "module/museum-section";

// Page
@use "page/top";
@use "page/highlight";
@use "page/outline";
@use "page/structure";
@use "page/ticket";
@use "page/audioguide";
@use "page/program";
@use "page/special";
@use "page/special-detail-learn";
@use "page/special-detail-collabo";
@use "page/special-detail-present";
@use "page/goods";
@use "page/museumacafe";
