// fluid-sizeをインポート
@use "../foundation/fluid-size" as fs;

@font-face {
  font-family: "AXIS Basic Light";
  src: url("/assets/fonts/AxisBasicStdN-L.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AXIS Basic Medium";
  src: url("/assets/fonts/AxisBasicStdN-M.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-ja__normal: "AXIS Basic Light", "Hiragino Sans", sans-serif;
  --font-ja__bold: "AXIS Basic Medium", "Hiragino Sans", sans-serif;
  --font__en: "EB Garamond", serif;
  --font-ja__normal-mincho: "游明朝体", "Yu Mincho", serif;
  --color-primary: #2c766b;
  --color-cream: #fffce4;
}

// :root {
//   // --ja__normal: "AXISFont", sans-serif;
//   --font-ja__normal: "A+mfCv-AXIS Font ベーシック L ProN", sans-serif;
//   --font-ja__bold: "A+mfCv-AXIS Font ベーシック M ProN", sans-serif;
//   --font__en: "EB Garamond", serif;
//   --font-ja__normal-mincho: "游明朝体", "Yu Mincho", YuMincho,
//     "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
//   --color-primary: #2c766b;
//   --color-cream: #fffce4;
// }

html {
  overflow: auto;
}
body {
  position: relative;
  overflow: clip;
  line-height: 1.5;
  font-family: var(--font-ja__normal);
  background-color: var(--color-cream);
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: justify;
  color: #353535;
  font-feature-settings: "palt";
  @include fs.pc-size(font-size, 18);
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -2;
  background-color: var(--color-cream);
  width: 100%;
  height: 100%;
}
html:not(:lang(ja)) body {
  text-align: left;
}
main {
  position: relative;
}
main::before,
main::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
}
// main::before {
//   opacity: 0.15;
//   background: linear-gradient(0deg, #2c766b 0%, rgba(44, 118, 107, 0) 100%);
//   @include fs.pc-size(height, 664);
//   @include fs.pc-size(bottom, 600);
// }
main::after {
  // opacity: 0.15;
  // bottom: 0;
  // background: #2c766b;
  // @include fs.pc-size(height, 600);
  bottom: 0;
  opacity: 0.15;
  background: linear-gradient(0deg, #2c766b 0%, rgba(44, 118, 107, 0) 100%);
  @include fs.pc-size(height, 664);
}
main:not(.home) {
  @include fs.pc-size(padding-bottom, 250);
}
main.page-ticket {
  @include fs.pc-size(padding-bottom, 200);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05em;
  font-family: var(--font-ja__normal-mincho);
  font-weight: 600;
  text-align: initial;
}
a {
  display: inline-block;
  color: inherit;
  word-break: break-all;
  transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover,
a:focus {
  opacity: 0.5;
}
img {
  width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.sp {
  display: none;
}

@media screen and (max-width: 824px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  body {
    @include fs.sp-size(font-size, 18);
  }
  main::before {
    @include fs.sp-size(height, 664);
    @include fs.sp-size(bottom, 600);
  }
  main::after {
    @include fs.sp-size(height, 600);
  }
  main:not(.home) {
    @include fs.sp-size(padding-bottom, 170);
  }
  main.page-ticket {
    @include fs.sp-size(padding-bottom, 100);
  }
}
@media (hover: hover) and (pointer: fine) {
}
