@use "../foundation/fluid-size" as fs;

.outline {
  @include fs.pc-size(padding-top, 46);
}

.outline-list {
  margin-left: auto;
}

.outline-list__item {
  display: flex;
  position: relative;
  border-bottom: 1px solid #bf4c4c80;
}

.outline-list__term {
  font-weight: 500;
  font-family: var(--font-ja__bold);
  line-height: 2;
  @include fs.pc-size(width, 142);
  @include fs.pc-size(padding, 24.5 0);
  @include fs.pc-size(font-size, 16);
}

.outline-list__description {
  flex: 1;
  line-height: 2.1334;
  @include fs.pc-size(padding, 24.5 0);
  @include fs.pc-size(font-size, 15);
}

.outline-list__description strong {
  font-weight: 500;
  font-family: var(--font-ja__bold);
  line-height: 2;
  font-feature-settings: normal;
  @include fs.pc-size(font-size, 16);
}

.outline-list__item a {
  text-decoration: underline;
}

.outline-map {
  aspect-ratio: 860 / 404;
  @include fs.pc-size(margin-top, 25);
  @include fs.pc-size(margin-bottom, 5);
}

.outline-map iframe {
  width: 100%;
  height: 100%;
}

/* スポンサーセクション */
.sponsors-section {
  @include fs.pc-size(padding, 60 0);
  border-bottom: 1px solid #bf4c4c80;
}

.sponsors {
  // 特に指定なし
}

.sponsors__grid {
  display: grid;
  grid-template-columns: 420fr 143fr 92fr 172fr;
  justify-content: center;
  align-items: flex-start;
  @include fs.pc-size(gap, 18 58);
}

.sponsors__item {
  height: 100%;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

.sponsors__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sponsors__link img {
  object-fit: contain;
}

.sponsors__caption {
  line-height: 1.85;
  text-align: left;
  font-feature-settings: normal;
  @include fs.pc-size(font-size, 14);
}

.culture-agency-section {
  @include fs.pc-size(padding-top, 60);
}
.culture-agency {
  display: flex;
  align-items: center;
  justify-content: center;
  @include fs.pc-size(gap, 30);
}
.culture-agency__logo {
  @include fs.pc-size(width, 150);
}
.culture-agency__text {
  @include fs.pc-size(font-size, 14);
}

.downloads {
  display: flex;
  justify-content: center;
  @include fs.pc-size(gap, 30);
  @include fs.pc-size(margin-top, 120);
}

.downloads .button-filled {
  width: 100%;
}
@media screen and (max-width: 824px) {
  .outline {
    @include fs.sp-size(padding-top, 40);
  }

  .outline-list {
    // margin-left: autoはそのまま
  }

  .outline-list__item {
    flex-direction: column;
    @include fs.sp-size(gap, 5);
  }

  .outline-list__term {
    line-height: 1.867;
    width: 100%;
    @include fs.sp-size(font-size, 15);
    @include fs.sp-size(padding, 20 0 0);
  }

  .outline-list__description {
    line-height: 2;
    @include fs.sp-size(font-size, 14);
    @include fs.sp-size(padding, 0 0 20);
  }

  .outline-list__description strong {
    line-height: 1.867;
    @include fs.sp-size(font-size, 15);
  }

  .outline-list__item a {
    // text-decorationはそのまま
  }

  .outline-map {
    aspect-ratio: 1 / 1;
    @include fs.sp-size(margin-top, 20);
    @include fs.sp-size(margin-bottom, 0);
  }

  .outline-map iframe {
    // width/height: 100%はそのまま
  }

  /* スポンサーセクション */
  .sponsors-section {
    @include fs.sp-size(padding-top, 40);
  }

  .sponsors {
    // 特に指定なし
  }

  .sponsors__grid {
    display: grid;
    grid-template-columns: 30.9% 20.6% 33.8%;
    grid-template-rows: auto auto;
    gap: 10px 7.4%; // パーセンテージはそのまま
    justify-content: center;
    align-items: flex-start;
  }

  .sponsors__item--orsay {
    width: 73.53%;
    margin: 0 auto;
    margin-inline: auto;
    @include fs.sp-size(margin-bottom, 10);
  }

  // オルセー横１００％
  .sponsors__item:first-child {
    grid-column: 1 / -1;
  }

  .sponsors__item {
    // height: 100%はそのまま
  }

  .sponsors__link {
    // display設定はそのまま
  }

  .sponsors__link img {
    // object-fitはそのまま
  }

  .sponsors__caption {
    @include fs.sp-size(font-size, 12);
  }
  .culture-agency-section {
    @include fs.sp-size(padding-top, 40);
  }
  .culture-agency {
    flex-direction: column;
    @include fs.sp-size(gap, 20);
  }
  .culture-agency__logo {
    @include fs.sp-size(width, 150);
  }
  .culture-agency__text {
    @include fs.sp-size(font-size, 12);
  }

  .downloads {
    flex-direction: column;
    @include fs.sp-size(gap, 25);
    @include fs.sp-size(margin-top, 80);
  }

  .downloads .button-filled {
    // width: 100%はそのまま
  }
}
