@use "../foundation/fluid-size" as fs;

/* ===== Anchor scroll offset for fixed header ===== */
#movie,
#junior-guide,
#comic-guide,
#tv {
  scroll-margin-top: 100px;
}

/* ===== ENJOY SECTION ===== */
.enjoy-section {
}

.enjoy-section__header {
  display: flex;
  align-items: center;
  @include fs.pc-size(gap, 10);
  @include fs.pc-size(margin-bottom, 30);
}

.enjoy-section__icon {
  @include fs.pc-size(width, 45);
}

.enjoy-section__icon img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.enjoy-section__title {
  font-family: var(--font-ja__normal-mincho);
  font-weight: 600;
  letter-spacing: 0.08em;
  @include fs.pc-size(font-size, 32);
}

.enjoy-section__content {
  display: grid;
  @include fs.pc-size(gap, 60);
}

/* ===== ENJOY MOVIE ===== */
.movie-section {
  background-color: #fff;
  @include fs.pc-size(margin-top, 60);
  @include fs.pc-size(padding, 60 56);
}

.enjoy-movie {
}

.enjoy-movie__title {
  font-family: var(--font-ja__normal-mincho);
  letter-spacing: 0.08em;
  font-weight: 600;
  line-height: 1.75;
  @include fs.pc-size(font-size, 24);
  @include fs.pc-size(margin-bottom, 10);
}

.enjoy-movie__text {
  line-height: 2.133;
  @include fs.pc-size(font-size, 15);
  @include fs.pc-size(margin-bottom, 30);
}

.enjoy-movie__video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.enjoy-movie__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ===== ENJOY GUIDES ===== */
.enjoy-guides {
  @include fs.pc-size(padding-top, 70);
}

.enjoy-guides__grid {
  display: grid;
  @include fs.pc-size(gap, 70);
}

.enjoy-guide {
  position: relative;
  @include fs.pc-size(padding-top, 60);
}

.enjoy-guide__inner {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-bottom: 3px solid rgba(79, 148, 169, 0.3);
  @include fs.pc-size(padding, 56 0 56 56);
}

.enjoy-guide__info {
  width: 42.3%;
}

.enjoy-guide__header {
  display: flex;
  align-items: center;
  @include fs.pc-size(gap, 10);
  @include fs.pc-size(margin-bottom, 30);
}

.enjoy-guide__icon {
  @include fs.pc-size(width, 45);
  @include fs.pc-size(height, 45);
}

.enjoy-guide__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.enjoy-guide__title {
  letter-spacing: 0.05em;
  font-family: var(--font-ja__normal-mincho);
  font-weight: 600;
  @include fs.pc-size(font-size, 32);
}

.enjoy-guide__text {
  line-height: 2.133;
  @include fs.pc-size(font-size, 15);
  @include fs.pc-size(margin-bottom, 30);
}

.enjoy-guide__image {
  position: absolute;
  z-index: 2;
  width: 52.9%;
  @include fs.pc-size(right, -44);
  @include fs.pc-size(bottom, 56);
}

.enjoy-guide__image img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

/* ===== ENJOY TV ===== */
.tv-section {
  background-color: #fff;
  border-bottom: 3px solid rgba(79, 148, 169, 0.3);
  @include fs.pc-size(padding, 60 56);
  @include fs.pc-size(margin-top, 120);
}

.enjoy-tv {
}

.enjoy-tv__item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  @include fs.pc-size(padding, 40 0);
  @include fs.pc-size(gap, 30);
}

.enjoy-tv__item:first-child {
  padding-top: 0;
}

.enjoy-tv__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.enjoy-tv__logo {
  flex-shrink: 0;
  width: 34.5%;
}

.enjoy-tv__logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.enjoy-tv__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include fs.pc-size(gap, 30);
}

.enjoy-tv__info {
  width: 100%;
}

.enjoy-tv__title {
  line-height: 1.8;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: var(--font-ja__normal-mincho);
  @include fs.pc-size(font-size, 20);
  @include fs.pc-size(margin-bottom, 10);
}

.enjoy-tv__date {
  font-weight: 500;
  line-height: 2;
  font-family: var(--font-ja__bold);
  @include fs.pc-size(font-size, 16);
}
.enjoy-tv__date-label {
  display: inline;
}

.enjoy-guide .button-filled,
.tv-section .button-filled {
  @include fs.pc-size(max-width, 258);
}

/* ===== SP ===== */
@media screen and (max-width: 824px) {
  #movie,
  #junior-guide,
  #comic-guide,
  #tv {
    scroll-margin-top: 80px;
  }

  /* Enjoy Section */
  .movie-section {
    @include fs.sp-size(margin-top, 10);
  }
  .enjoy-section__header {
    @include fs.sp-size(gap, 10);
    @include fs.sp-size(margin-bottom, 15);
  }
  .enjoy-section__icon {
    @include fs.sp-size(width, 45);
    @include fs.sp-size(height, 45);
  }
  .enjoy-section__title {
    line-height: 1.66;
    @include fs.sp-size(font-size, 24);
  }
  .enjoy-section__content {
    @include fs.sp-size(gap, 30);
  }

  /* Movie Section */
  .movie-section {
    @include fs.sp-size(padding, 40 20);
  }
  .enjoy-movie__title {
    line-height: 1.66;
    @include fs.sp-size(font-size, 21);
    @include fs.sp-size(margin-bottom, 10);
  }
  .enjoy-movie__text {
    line-height: 2;
    @include fs.sp-size(font-size, 14);
    @include fs.sp-size(margin-bottom, 20);
  }

  /* Enjoy Guides */
  .enjoy-guides {
    @include fs.sp-size(padding-top, 50);
  }
  .enjoy-guides__grid {
    @include fs.sp-size(gap, 50);
  }
  .enjoy-guide {
    padding-top: 0;
  }
  .enjoy-guide__inner {
    @include fs.sp-size(padding, 40 20);
  }
  .enjoy-guide__info {
    width: 100%;
  }
  .enjoy-guide__header {
    @include fs.sp-size(gap, 10);
    @include fs.sp-size(margin-bottom, 20);
  }

  .enjoy-guide__icon {
    @include fs.sp-size(width, 45);
    @include fs.sp-size(height, 45);
  }
  .enjoy-guide__title {
    line-height: 1.66;
    @include fs.sp-size(font-size, 24);
  }
  .enjoy-guide__image {
    position: static;
    width: 100%;
    @include fs.sp-size(margin-bottom, 20);
  }

  .enjoy-guide__image img {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
  .enjoy-guide__text {
    line-height: 2;
    @include fs.sp-size(font-size, 14);
    @include fs.sp-size(margin-bottom, 30);
  }

  /* TV Section */
  .tv-section {
    @include fs.sp-size(padding, 40 20);
    @include fs.sp-size(margin-top, 50);
  }
  .enjoy-tv__item {
    flex-direction: column;
    @include fs.sp-size(gap, 20);
    @include fs.sp-size(padding, 40 0);
  }
  .enjoy-tv__logo {
    width: 100%;
  }
  .enjoy-tv__body {
    width: 100%;
    align-items: stretch;
    @include fs.sp-size(gap, 30);
  }
  .enjoy-tv__title {
    @include fs.sp-size(font-size, 18);
    @include fs.sp-size(margin-bottom, 10);
  }
  .enjoy-tv__date {
    line-height: 1.86;
    @include fs.sp-size(font-size, 15);
  }
  .enjoy-tv__date-label {
    display: block;
  }
  .enjoy-guide .button-filled,
  .tv-section .button-filled {
    max-width: none;
  }
}
