@charset "UTF-8";
body {
  font-feature-settings: unset;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0 !important;
}

/* デフォルト（1700px未満）では表示 */
.tb {
  display: block;
}

/* 1700px以上では非表示 */
@media (min-width: 1700px) {
  .tb {
    display: none;
  }
}
.page-hero__title {
  text-align: left;
}

.button-filled--en {
  max-width: clamp(316.40625px, calc(316.40625px + 246.09375 * (100vw - 900px) / 700), 562.5px);
}

.nav__lists {
  align-items: center;
}

@media (min-width: 825px) {
  .main-visual .swiper-wrapper {
    align-items: flex-end;
  }
  .main-visual__caption-details {
    max-width: 34%;
  }
}
.first-badge__text {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  line-height: 1.833;
  background-color: var(--color-primary);
  padding: clamp(3.515625px, calc(3.515625px + 2.734375 * (100vw - 900px) / 700), 6.25px) clamp(7.03125px, calc(7.03125px + 5.46875 * (100vw - 900px) / 700), 12.5px);
  font-size: clamp(10px, calc(10px + 3.75 * (100vw - 900px) / 700), 13.75px);
}

@media (max-width: 824px) {
  .first-badge__text {
    padding: clamp(4.8076923077px, calc(4.8076923077px + 5.7564102564 * (100vw - 375px) / 449), 10.5641025641px) clamp(9.6153846154px, calc(9.6153846154px + 11.5128205128 * (100vw - 375px) / 449), 21.1282051282px);
    font-size: clamp(10.5769230769px, calc(10.5769230769px + 12.6641025641 * (100vw - 375px) / 449), 23.241025641px);
  }
}
.ticket-nav {
  width: 60%;
  max-width: clamp(534.375px, calc(534.375px + 415.625 * (100vw - 900px) / 700), 950px);
}

.ticket-title {
  display: block;
}

.ticket-title__status {
  white-space: nowrap;
  margin-left: 1em;
}

.ticket-info-list__term {
  width: clamp(101.953125px, calc(101.953125px + 79.296875 * (100vw - 900px) / 700), 181.25px);
}

@media (max-width: 824px) {
  .ticket-nav {
    width: 87.18%;
  }
  .ticket-info-list__term {
    width: 100%;
  }
}
.item-title {
  text-align: left;
}

.structure__nav-link {
  font-size: clamp(10px, calc(10px + 5 * (100vw - 900px) / 700), 15px);
  white-space: nowrap;
}

.structure__nav-link {
  padding: clamp(7.03125px, calc(7.03125px + 5.46875 * (100vw - 900px) / 700), 12.5px) clamp(7.03125px, calc(7.03125px + 5.46875 * (100vw - 900px) / 700), 12.5px) clamp(7.03125px, calc(7.03125px + 5.46875 * (100vw - 900px) / 700), 12.5px) clamp(10.546875px, calc(10.546875px + 8.203125 * (100vw - 900px) / 700), 18.75px);
}

.chapter5-image-left {
  width: 100%;
}

.chapter5-image-right {
  width: 100%;
}

@media (min-width: 825px) {
  .structure__chapter-flex {
    align-items: start;
  }
  #chapter02 .item-description,
  #chapter03 .item-description,
  #chapter09 .item-description {
    margin-top: 0;
  }
  #chapter02 .structure__chapter-body,
  #chapter03 .structure__chapter-body,
  #chapter09 .structure__chapter-body {
    gap: clamp(14.0625px, calc(14.0625px + 10.9375 * (100vw - 900px) / 700), 25px);
  }
  #chapter02 .structure__image-container,
  #chapter03 .structure__image-container,
  #chapter09 .structure__image-container {
    margin-top: clamp(6.328125px, calc(6.328125px + 4.921875 * (100vw - 900px) / 700), 11.25px);
  }
  .chapter5-image-left {
    width: clamp(320.625px, calc(320.625px + 249.375 * (100vw - 900px) / 700), 570px);
  }
  .chapter5-image-right {
    width: clamp(231.328125px, calc(231.328125px + 179.921875 * (100vw - 900px) / 700), 411.25px);
  }
}
.outline-list__term {
  width: clamp(154.6875px, calc(154.6875px + 120.3125 * (100vw - 900px) / 700), 275px);
}

.outline-list__term {
  line-height: 1.7;
}

.outline-list__description {
  line-height: 1.7;
}

.table th,
.table td {
  line-height: 1.7;
}

.table__note {
  line-height: 1.7;
}

@media (max-width: 824px) {
  .outline-list__term {
    width: 100%;
  }
}/*# sourceMappingURL=en-style.css.map */