// fluid-sizeをインポート
@use "../foundation/fluid-size" as fs;

.item-content {
}

.item-title {
  line-height: 1.75;
  letter-spacing: 0.08em;
  text-align: justify;
  @include fs.pc-size(font-size, 24);
}

.item-description {
  line-height: 2.13;
  @include fs.pc-size(margin-top, 20);
  @include fs.pc-size(font-size, 15);
}

@media screen and (max-width: 824px) {
  .item-content {
  }

  .item-title {
    line-height: 1.66;
    @include fs.sp-size(font-size, 21);
  }

  .item-description {
    line-height: 2;
    @include fs.sp-size(margin-top, 15);
    @include fs.sp-size(font-size, 14);
  }
}
