// fluid-sizeをインポート
@use "../foundation/fluid-size" as fs;

.page-hero {
  position: relative;
  display: flex;
  overflow: hidden;
}
.page-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* 背景色はJSで動的に設定 (data-bg-colorから取得) */
  background-color: var(--hero-bg-color, #f0f0f0);
  /* 高さはJSで動的に設定 */
  height: var(--hero-bg-height, 400px);
  z-index: 0;
}
.page-hero__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: start;
  position: relative;
  z-index: 1;
  @include fs.pc-size(padding, 60);
  @include fs.pc-size(height, 420);
}
.page-hero__logo {
  @include fs.pc-size(width, 240);
}
.page-hero__logo a {
  display: block;
}
.page-hero__logo-image {
  width: 100%;
  height: auto;
  display: block;
}

.page-hero__title {
  color: #fffce4;
  line-height: 1.22;
  letter-spacing: 0.08em;
  font-weight: 600;
  @include fs.pc-size(font-size, 54);
}

.page-hero__artwork {
  position: relative;
  z-index: 1;
}

.page-hero__artwork-image {
  width: auto;
  margin-left: auto;
  display: block;
  object-fit: contain;
  @include fs.pc-size(height, 500);
}

.page-hero__artwork-caption {
  text-align: right;
  line-height: 1.83;
  color: #333;
  font-feature-settings: normal;
  @include fs.pc-size(padding, 20 20 20 0);
  @include fs.pc-size(font-size, 12);
}

/* Responsive Design */
@media screen and (max-width: 824px) {
  .page-hero {
    flex-direction: column;
    height: auto;
  }
  .page-hero__left {
    width: 87.18%;
    margin: 0 auto;
    margin-inline: auto;
    height: auto;
    align-items: flex-start;
    @include fs.sp-size(padding, 40 0 30);
  }
  .page-hero__logo {
    @include fs.sp-size(width, 200);
  }
  .page-hero__title {
    text-align: center;
    line-height: 1.3;
    @include fs.sp-size(font-size, 40);
    @include fs.sp-size(margin-top, 80);
  }
  .page-hero__artwork {
    margin-left: 6.41%;
    width: calc(100% - 6.41%);
  }
  .page-hero__artwork-image {
    height: auto;
  }
  .page-hero__artwork-caption {
    text-align: left;
    margin-right: 6.41%;
    padding: 0;
    @include fs.sp-size(margin-top, 15);
    @include fs.sp-size(font-size, 12);
  }
}
